<!DOCTYPE html>
<html ng-app="adminApp">
<head>
<meta charset="UTF-8">
<title>Administration Page</title>

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

<script src="../js/admin.js"></script>

<script>
  angular.module("MyApp", ["ui.bootstrap"]);
</script>

</head>
<body ng-controller="adminController">
  <div class="container" ng-controller="adminController">
    <a class="col-md-1" href="index.html">&lt;- to Top</a><br />
    <h1>Administrate</h1>
    <div id="thumb">
      <input type="button" class="btn btn-primary" value="generate Thumbnail" ng-click="genThumb()" />
      <span>{{thumbProgress}}%</span>
    </div>
    
    <div id="meta">
      <input type="button" class="btn btn-primary" value="generate Metainfo" ng-click="genMeta()" />
      <span>{{metaProgress}}%</span>
    </div>
    
    <div id="migrate">
      <input type="button" class="btn btn-primary" value="migrate Metainfo" ng-click="migrateMeta()" />
      <span>{{migrateProgress}}%</span>
    </div>
    
    <div id="put_tag">
      <input type="button" class="btn btn-primary" value="put tags" ng-click="putTags()" />
    </div>
    
    <div id="set_tmp">
      <input type="button" class="btn btn-primary" value="set tmp flag" ng-click="setTmp()" />
    </div>

    <div id="get_Data">
    <form method="get" action="">
      <input type="submit" class="btn btn-primary" value="get data" formaction="../resources/admin/getData" />
      <input type="submit" class="btn btn-primary" value="get data(tmp)" formaction="../resources/admin/getData/tmp"  />
      </form>
    </div>

    
  </div>
</body>
</html>