<div id="menu" class="row">
  <a class="col-md-1" href="index.html">&lt;- to Top</a><br />
  <a class="col-md-1" href="folder.html" ng-if="!$ctrl.isFolder">folders</a><div class="col-md-1" ng-if="$ctrl.isFolder">folders</div>
  <a class="col-md-1" href="tmp.html" ng-if="!$ctrl.isTmp">tmp</a><div class="col-md-1" ng-if="$ctrl.isTmp">tmp</div>
  <a class="col-md-1" href="downloaded.html" ng-if="!$ctrl.isDownloaded">downloaded</a><div class="col-md-1" ng-if="$ctrl.isDownloaded">downloaded</div>
</div>
